@use 'sass:color';

@use '@material/theme/color-palette';

$pastelgreen: #C1E1C1;
$pastelorange: #FAC898;
$darkred: color-palette.$red-900;

@use '@material/theme/index' as theme with (
  $primary: $darkred,
  $secondary: $pastelgreen,
  $surface: $pastelorange,
  $background: white,
  $error: color-palette.$red-900
);

@use '@material/typography/mdc-typography';

// This is from app/sapperapp/node_modules/@material/textfield/README.md

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@use "@material/dialog";

@use '@material/elevation/mdc-elevation';

@include textfield.core-styles;
@include dialog.core-styles;

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
  overflow-wrap: break-word;
	word-wrap: break-word;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

// This changes the radius of the border of the cards
.mdc-card {
  --mdc-shape-medium: 10px;
}

input[type=text], input[type=email], textarea {
	width: 100%;
}

// This is to avoid that chrome changes the background color in fields
// when using the autofill
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $pastelorange inset !important;
    box-shadow: 0 0 0 30px $pastelorange inset !important;
}
